@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --Oxford-Blue: #030027;
    --Han-Purple: #3026FC;
    --Celest: #C5FFFD;
    --Mongo-tengo: #f27f3d;
    --Dark-Salmon: #EF946C;
    --Antique-Brass: #DC9E82;
}

body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(190deg, #3026fc 0%, #120b8f 20%, #030029 60%);
}

.left-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    font-size: 3vw;
    color: var(--Mongo-tengo);
}

.left-login-img {
    width: 35vw;
    transform: scalex(-1);
}

.right-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: var(--Han-Purple);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: var(--Celest);
    font-weight: 600;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#eefffe;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: var(--Celest);
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #00000070;
}

/* BOTÃO LOGIN */
.btn-login {
    width: 100%;
    padding: 10px 0px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    outline: none;
    background: var(--Mongo-tengo);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-login:hover {
    background-color: var(--Dark-Salmon);
    color: black;
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.btn-login:active {
    background: rgb(201, 201, 201);
    transform: scale(0.9);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
}

.btn-content {
    display: flex;
    width: 70%;
    justify-content: center;
}

/* BOTÃO VOLTAR */
.btn-voltar {
    width: 100%;
    padding: 3px 5px;
    border-radius: 15px;
    border: none;
    margin: 0 10px 0 0;
    outline: none;
    background: var(--Mongo-tengo);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-voltar:hover {
    background-color: var(--Dark-Salmon);
    color: black;
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.btn-voltar:active {
    background: rgb(201, 201, 201);
    transform: scale(0.9);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
}

/* BOTÃO SING IN */
.btn-sing_in {
    width: 100%;
    padding: 3px 5px;
    border-radius: 15px;
    border: none;
    margin: 0 0 0 10px;
    outline: none;
    background: var(--Mongo-tengo);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-sing_in:hover {
    background-color: var(--Dark-Salmon);
    color: black;
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.btn-sing_in:active {
    background: rgb(201, 201, 201);
    transform: scale(0.9);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-img {
        width: 60vw;
    }
}