@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    /* NEW COLORS */
    --color1: #efc065;
    --color2: #e8d875;
    --color3: #12207d;
    --color4: #1f6dcc;
    --color5: #d1dced;

    --Oxford-Blue: #030027;
    --Han-Purple: #3026FC;
    --Celest: #C5FFFD;
    --Mongo-tengo: #f27f3d;
    --Dark-Salmon: #EF946C;
    --Antique-Brass: #DC9E82;
}

body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(190deg, var(--color5) 0%, #fff 70%);
}

.left-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    font-size: 3vw;
    color: var(--color1);
}

.left-login-img {
    width: 35vw;
    transform: scalex(-1);
}

.right-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: var(--color2);
    border-radius: 20px;
    box-shadow: 0px 5px 10px #00000056;
}

.card-login > h1 {
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #fff;
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #00000070;
    font-style: italic;
}

/* BOTÃO LOGIN */
.btn-login {
    width: 100%;
    padding: 10px 0px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    outline: none;
    background: var(--color4);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: var(--color5);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-login:hover,
.btn-login.active {
    background-color: var(--color3);
    color: var(--color5);
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.btn-content {
    display: flex;
    width: 70%;
    justify-content: center;
}

/* BOTÃO VOLTAR */
.btn-voltar {
    width: 100%;
    padding: 3px 5px;
    border-radius: 15px;
    border: none;
    margin: 0 10px 0 0;
    outline: none;
    background: var(--color4);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-voltar:hover,
.btn-voltar.active {
    background-color: var(--color3);
    color: #fff;
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

/* BOTÃO SING IN */
.btn-sing_in {
    width: 100%;
    padding: 3px 5px;
    border-radius: 15px;
    border: none;
    margin: 0 0 0 10px;
    outline: none;
    background: var(--color4);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-sing_in:hover,
.btn-sing_in.active {
    background-color: var(--color3);
    color: #fff;
    transition: 0,3s;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-img {
        width: 60vw;
    }
}